### **set**

In [1]:
myset = {'a', 'b', 'c', 'a', 'd', 'b'}
print(myset)

{'a', 'd', 'b', 'c'}

In [2]:
my_set = {1, 3, 2, 4, 2, 6, 3, 'a', 5}
print(my_set)

{1, 2, 3, 4, 5, 6, 'a'}

In [3]:
my_set = {'P', 'y', 't', 'h', 'o', 'n'}
print(my_set)

{'o', 't', 'n', 'h', 'y', 'P'}

In [4]:
myset = {'a', 'b', 'c',[1, 2, 3]}

TypeError: unhashable type: 'list'

In [6]:
my_set = {2, 5.0, "Hello", (1, 2, 3)}
print(my_set)

{2, 'Hello', 5.0, (1, 2, 3)}

In [7]:
my_list = [4, 5, 6, 7, 6]
set(my_list)

{4, 5, 6, 7}

### **add**

In [10]:
my_set = {5, 7}
my_set.add(6)

In [11]:
my_set

{5, 6, 7}

### **update**

In [12]:
my_set = {5, 6, 7}
my_list = [1, 2, 3, 4]
my_set.update(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [13]:
my_set = {5, 6, 7}
my_set.update([1, 2, 3, 4])
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
my_set = {5, 6, 7}
my_set1 = {3, 4}
my_list = [1, 2]
my_set.update(my_set1, my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

### **discrad, remove**

### **discrad**

In [16]:
myset = {'a', 'b', 'c', 'd'}
myset.discard('c')

In [17]:
myset

{'a', 'b', 'd'}

In [18]:
myset = {'a', 'b', 'd'}
myset.discard('c')

In [19]:
myset

{'a', 'b', 'd'}

### **remove**

In [20]:
myset = {'a', 'b', 'c', 'd'}
myset.remove('c')

In [21]:
myset

{'a', 'b', 'd'}

In [22]:
myset = {'a', 'b', 'd'}
myset.remove('c')

KeyError: 'c'

In [23]:
myset

{'a', 'b', 'd'}

### **pop**

In [24]:
myset = {'a', 'b', 'c', 'd'}
myset.pop()

'a'

In [25]:
myset

{'b', 'c', 'd'}

In [26]:
myset.pop()

'd'

In [27]:
myset

{'b', 'c'}

In [31]:
with open('/home/mana/Work/fruit.txt') as file:
    lines = file.readlines()
    print(*lines)

Apple Apple.
 Watermelon.
 Bannana.
 lemon.
 Apple.
 Bannana.
 lemon.