### **Dictionary**

In [1]:
d = {'name': 'Mana', 'Age': 30}

In [2]:
d

{'name': 'Mana', 'Age': 30}

In [3]:
d = {'name': 'Mana', 'Age': 30, 'count': 30}

In [4]:
d

{'name': 'Mana', 'Age': 30, 'count': 30}

In [5]:
d = {'name': 'Mana', 'Age': 30, 'count': 30, 'name': 'Harsha'}

In [6]:
d

{'name': 'Harsha', 'Age': 30, 'count': 30}

In [7]:
my_dict = {}

In [8]:
my_dict

{}

In [9]:
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

{'name': 'John', 1: [2, 4, 3]}

In [10]:
l = [(1,'apple'), (2,'ball')]
dict(l)

{1: 'apple', 2: 'ball'}

### **How to Access dictionary element?**

In [11]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}

In [12]:
d['name']

'Mana'

In [13]:
d['city']

'Banglore'

In [14]:
d['Age']

30

In [19]:
d['count']

KeyError: 'count'

### **get**

In [24]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.get('name')

'Mana'

In [25]:
d.get('city')

'Banglore'

In [26]:
d.get('Age')

30

In [27]:
d.get('Count', 10)

10

In [28]:
d

{'name': 'Mana', 'Age': 30, 'city': 'Banglore'}

In [29]:
print(d.get('Count'))

None

### **setdefault**

In [31]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.setdefault('Count')

In [32]:
d

{'name': 'Mana', 'Age': 30, 'city': 'Banglore', 'Count': None}

In [35]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.setdefault('Count', 10)

10

In [36]:
d

{'name': 'Mana', 'Age': 30, 'city': 'Banglore', 'Count': 10}

In [38]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
help(d.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [41]:
d1 = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d2 = {'count': 10}
d1.update(d2)

In [42]:
d1

{'name': 'Mana', 'Age': 30, 'city': 'Banglore', 'count': 10}

In [44]:
d1 = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
t = [('Count', 10)]
d1.update(t)

In [45]:
d1

{'name': 'Mana', 'Age': 30, 'city': 'Banglore', 'Count': 10}

In [48]:
d1 = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d1.update(['Count', 10])

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [49]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d['Count'] = 10

In [50]:
d

{'name': 'Mana', 'Age': 30, 'city': 'Banglore', 'Count': 10}

### **How to delete or Remove the from Dictionary?**

### **pop,popitem,clear**

### **pop**

In [51]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.pop('city')

'Banglore'

In [52]:
d

{'name': 'Mana', 'Age': 30}

### **popitem**

In [54]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.popitem()

('city', 'Banglore')

In [56]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.popitem()
d.popitem()

('Age', 30)

In [57]:
d

{'name': 'Mana'}

### **clear**

In [58]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.clear()

In [59]:
d

{}

### **del**

In [61]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
del d

In [62]:
d

NameError: name 'd' is not defined

In [37]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### **keys**

In [63]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.keys()

dict_keys(['name', 'Age', 'city'])

### **values**

In [64]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.values()

dict_values(['Mana', 30, 'Banglore'])

### **items**

In [65]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
d.items()

dict_items([('name', 'Mana'), ('Age', 30), ('city', 'Banglore')])

In [66]:
d = {'name': 'Mana', 'Age': 30, 'city': 'Banglore'}
for i,j in d.items():
    print(i,j)

name Mana
Age 30
city Banglore

### **How to create empty set?**

In [67]:
s = {1, 2, 3}

In [68]:
type(s)

set

In [69]:
s = {}

In [70]:
type(s)

dict

In [71]:
myset = set()

In [72]:
type(myset)

set

In [73]:
s = 'Junaid'
s = 'Harsa'
s

'Harsa'

In [75]:
l = ['Junaid']
l = ['Harsa']
l

['Harsa']

In [78]:
l = ['Junaid']
l1 = l.copy()

In [79]:
l1

['Junaid']

In [80]:
l = ['Harsa']

In [81]:
l

['Harsa']

In [84]:
l1 = ['Junaid']
l = ['Harsa']

In [83]:
l

['Harsa']