### **Required Arguments**

In [2]:
def add(x, y):
    return x + y
    
add(2, 3)

5

In [3]:
def add(x, y):
    return x + y
    
add(2)

TypeError: add() missing 1 required positional argument: 'y'

In [4]:
def add(x):
    return x + y
    
add(2, 3)

TypeError: add() takes 1 positional argument but 2 were given

In [5]:
def data(name, cash):
    return f"{name} have {cash} rupees."

data('Manavalan', 10)

'Manavalan have 10 rupees.'

In [6]:
def data(cash, name):
    return f"{name} have {cash} rupees."

data('Manavalan', 10)

'10 have Manavalan rupees.'

### **Keyword Arguments**

In [8]:
def data(cash, name):
    return f"{name} have {cash} rupees."

data(name ='Manavalan', cash = 0)

'Manavalan have 0 rupees.'

### **Default Arguments**

In [11]:
def data(name, cash = 10):
    return f"{name} have {cash} rupees."

data(name ='Manavalan')

'Manavalan have 10 rupees.'

In [12]:
def data(name, cash = 10):
    return f"{name} have {cash} rupees."

data(name ='Manavalan', cash = 100)

'Manavalan have 100 rupees.'

In [13]:
def data(name, cash = 10):
    return f"{name} have {cash} rupees."

data('Manavalan', cash = 100)

'Manavalan have 100 rupees.'

In [14]:
def data(name, cash = 10):
    return f"{name} have {cash} rupees."

data('Manavalan', 150)

'Manavalan have 150 rupees.'

In [15]:
def data(name, cash = 10):
    return f"{name} have {cash} rupees."

data('Manavalan')

'Manavalan have 10 rupees.'

In [20]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)
        
ask_ok('User Input')

User Inputy

True

In [18]:
input('Enter Name: ')

Enter Name: Junaid

'Junaid'

In [19]:
input('Enter Name: ')

Enter Name: Harsha

'Harsha'